{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.madstudio#AcceptEulas": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#AcceptEulasRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#AcceptEulasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/eula-acceptances",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#AcceptEulasRequest": {
      "type": "structure",
      "members": {
        "eulaIds": {
          "target": "com.amazonaws.madstudio#EulaIdList",
          "traits": {
            "smithy.api#jsonName": "eulaIds"
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#AcceptEulasResponse": {
      "type": "structure",
      "members": {
        "eulaAcceptances": {
          "target": "com.amazonaws.madstudio#EulaAcceptanceList",
          "traits": {
            "smithy.api#jsonName": "eulaAcceptances"
          }
        }
      }
    },
    "com.amazonaws.madstudio#AccessDeniedException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "code"
          }
        },
        "context": {
          "target": "com.amazonaws.madstudio#ExceptionContext",
          "traits": {
            "smithy.api#jsonName": "context"
          }
        },
        "message": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.madstudio#ActiveDirectoryComputerAttribute": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "value": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "value"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ActiveDirectoryComputerAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.madstudio#ActiveDirectoryComputerAttribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.madstudio#ActiveDirectoryConfiguration": {
      "type": "structure",
      "members": {
        "computerAttributes": {
          "target": "com.amazonaws.madstudio#ActiveDirectoryComputerAttributeList",
          "traits": {
            "smithy.api#jsonName": "computerAttributes"
          }
        },
        "directoryId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "directoryId"
          }
        },
        "directoryName": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "directoryName"
          }
        },
        "dnsIpAddresses": {
          "target": "com.amazonaws.madstudio#ActiveDirectoryDnsIpAddressList",
          "traits": {
            "smithy.api#jsonName": "dnsIpAddresses"
          }
        },
        "organizationalUnitDistinguishedName": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "organizationalUnitDistinguishedName"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ActiveDirectoryDnsIpAddressList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.madstudio#__string"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.madstudio#ComputeFarmConfiguration": {
      "type": "structure",
      "members": {
        "activeDirectoryUser": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "activeDirectoryUser"
          }
        },
        "endpoint": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "endpoint"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ConflictException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "code"
          }
        },
        "context": {
          "target": "com.amazonaws.madstudio#ExceptionContext",
          "traits": {
            "smithy.api#jsonName": "context"
          }
        },
        "message": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.madstudio#CreateLaunchProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#CreateLaunchProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#CreateLaunchProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#CreateLaunchProfileRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "description"
          }
        },
        "name": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "streamConfiguration": {
          "target": "com.amazonaws.madstudio#StreamConfigurationCreate",
          "traits": {
            "smithy.api#jsonName": "streamConfiguration",
            "smithy.api#required": {}
          }
        },
        "studioComponentIds": {
          "target": "com.amazonaws.madstudio#LaunchProfileStudioComponentIdList",
          "traits": {
            "smithy.api#jsonName": "studioComponentIds",
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.madstudio#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.madstudio#CreateLaunchProfileResponse": {
      "type": "structure",
      "members": {
        "launchProfile": {
          "target": "com.amazonaws.madstudio#LaunchProfile",
          "traits": {
            "smithy.api#jsonName": "launchProfile"
          }
        }
      }
    },
    "com.amazonaws.madstudio#CreateStreamingImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#CreateStreamingImageRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#CreateStreamingImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/streaming-images",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#CreateStreamingImageRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "description"
          }
        },
        "imageId": {
          "target": "com.amazonaws.madstudio#ImageId",
          "traits": {
            "smithy.api#jsonName": "imageId",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.madstudio#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.madstudio#CreateStreamingImageResponse": {
      "type": "structure",
      "members": {
        "streamingImage": {
          "target": "com.amazonaws.madstudio#StreamingImage",
          "traits": {
            "smithy.api#jsonName": "streamingImage"
          }
        }
      }
    },
    "com.amazonaws.madstudio#CreateStreamingSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#CreateStreamingSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#CreateStreamingSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#CreateStreamingSessionRequest": {
      "type": "structure",
      "members": {
        "ec2InstanceType": {
          "target": "com.amazonaws.madstudio#StreamingInstanceType",
          "traits": {
            "smithy.api#jsonName": "ec2InstanceType"
          }
        },
        "launchProfileId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "launchProfileId"
          }
        },
        "streamingImageId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "streamingImageId"
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.madstudio#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.madstudio#CreateStreamingSessionResponse": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.amazonaws.madstudio#StreamingSession",
          "traits": {
            "smithy.api#jsonName": "session"
          }
        }
      }
    },
    "com.amazonaws.madstudio#CreateStudio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#CreateStudioRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#CreateStudioResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#CreateStudioComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#CreateStudioComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#CreateStudioComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/studio-components",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#CreateStudioComponentRequest": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.amazonaws.madstudio#StudioComponentConfiguration",
          "traits": {
            "smithy.api#jsonName": "configuration"
          }
        },
        "description": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "description"
          }
        },
        "ec2SecurityGroupIds": {
          "target": "com.amazonaws.madstudio#StudioComponentSecurityGroupIdList",
          "traits": {
            "smithy.api#jsonName": "ec2SecurityGroupIds"
          }
        },
        "initializationScript": {
          "target": "com.amazonaws.madstudio#StudioComponentInitializationScript",
          "traits": {
            "smithy.api#jsonName": "initializationScript"
          }
        },
        "name": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "scriptParameters": {
          "target": "com.amazonaws.madstudio#StudioComponentScriptParameterKeyValueList",
          "traits": {
            "smithy.api#jsonName": "scriptParameters"
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subtype": {
          "target": "com.amazonaws.madstudio#StudioComponentSubtype",
          "traits": {
            "smithy.api#jsonName": "subtype"
          }
        },
        "tags": {
          "target": "com.amazonaws.madstudio#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        },
        "type": {
          "target": "com.amazonaws.madstudio#StudioComponentType",
          "traits": {
            "smithy.api#jsonName": "type",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#CreateStudioComponentResponse": {
      "type": "structure",
      "members": {
        "studioComponent": {
          "target": "com.amazonaws.madstudio#StudioComponent",
          "traits": {
            "smithy.api#jsonName": "studioComponent"
          }
        }
      }
    },
    "com.amazonaws.madstudio#CreateStudioRequest": {
      "type": "structure",
      "members": {
        "adminRoleArn": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "adminRoleArn",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "displayName",
            "smithy.api#required": {}
          }
        },
        "studioEncryptionConfiguration": {
          "target": "com.amazonaws.madstudio#StudioEncryptionConfiguration",
          "traits": {
            "smithy.api#jsonName": "studioEncryptionConfiguration"
          }
        },
        "studioName": {
          "target": "com.amazonaws.madstudio#StudioName",
          "traits": {
            "smithy.api#jsonName": "studioName",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.madstudio#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        },
        "userRoleArn": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "userRoleArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#CreateStudioResponse": {
      "type": "structure",
      "members": {
        "studio": {
          "target": "com.amazonaws.madstudio#Studio",
          "traits": {
            "smithy.api#jsonName": "studio"
          }
        }
      }
    },
    "com.amazonaws.madstudio#CreateStudioSatellite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#CreateStudioSatelliteRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#CreateStudioSatelliteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/satellite",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#CreateStudioSatelliteRequest": {
      "type": "structure",
      "members": {
        "studioEncryptionConfiguration": {
          "target": "com.amazonaws.madstudio#StudioEncryptionConfiguration",
          "traits": {
            "smithy.api#jsonName": "studioEncryptionConfiguration"
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#CreateStudioSatelliteResponse": {
      "type": "structure",
      "members": {
        "studioSatellite": {
          "target": "com.amazonaws.madstudio#StudioSatellite",
          "traits": {
            "smithy.api#jsonName": "studioSatellite"
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteLaunchProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#DeleteLaunchProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#DeleteLaunchProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#DeleteLaunchProfileMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#DeleteLaunchProfileMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#DeleteLaunchProfileMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#DeleteLaunchProfileMemberRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "principalId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteLaunchProfileMemberResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.madstudio#DeleteLaunchProfileRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteLaunchProfileResponse": {
      "type": "structure",
      "members": {
        "launchProfile": {
          "target": "com.amazonaws.madstudio#LaunchProfile",
          "traits": {
            "smithy.api#jsonName": "launchProfile"
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStreamingImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#DeleteStreamingImageRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#DeleteStreamingImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStreamingImageRequest": {
      "type": "structure",
      "members": {
        "streamingImageId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStreamingImageResponse": {
      "type": "structure",
      "members": {
        "streamingImage": {
          "target": "com.amazonaws.madstudio#StreamingImage",
          "traits": {
            "smithy.api#jsonName": "streamingImage"
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStreamingSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#DeleteStreamingSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#DeleteStreamingSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStreamingSessionRequest": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStreamingSessionResponse": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.amazonaws.madstudio#StreamingSession",
          "traits": {
            "smithy.api#jsonName": "session"
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStudio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#DeleteStudioRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#DeleteStudioResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStudioComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#DeleteStudioComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#DeleteStudioComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStudioComponentRequest": {
      "type": "structure",
      "members": {
        "studioComponentId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStudioComponentResponse": {
      "type": "structure",
      "members": {
        "studioComponent": {
          "target": "com.amazonaws.madstudio#StudioComponent",
          "traits": {
            "smithy.api#jsonName": "studioComponent"
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStudioMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#DeleteStudioMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#DeleteStudioMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/membership/{principalId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStudioMemberRequest": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStudioMemberResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.madstudio#DeleteStudioRequest": {
      "type": "structure",
      "members": {
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStudioResponse": {
      "type": "structure",
      "members": {
        "studio": {
          "target": "com.amazonaws.madstudio#Studio",
          "traits": {
            "smithy.api#jsonName": "studio"
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStudioSatellite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#DeleteStudioSatelliteRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#DeleteStudioSatelliteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/satellite",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStudioSatelliteRequest": {
      "type": "structure",
      "members": {
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#DeleteStudioSatelliteResponse": {
      "type": "structure",
      "members": {
        "studioSatellite": {
          "target": "com.amazonaws.madstudio#StudioSatellite",
          "traits": {
            "smithy.api#jsonName": "studioSatellite"
          }
        }
      }
    },
    "com.amazonaws.madstudio#Eula": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "content"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.madstudio#Timestamp",
          "traits": {
            "smithy.api#jsonName": "createdAt"
          }
        },
        "eulaId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "eulaId"
          }
        },
        "name": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.madstudio#Timestamp",
          "traits": {
            "smithy.api#jsonName": "updatedAt"
          }
        }
      }
    },
    "com.amazonaws.madstudio#EulaAcceptance": {
      "type": "structure",
      "members": {
        "acceptedBy": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "acceptedBy"
          }
        },
        "acceptedOn": {
          "target": "com.amazonaws.madstudio#Timestamp",
          "traits": {
            "smithy.api#jsonName": "acceptedOn"
          }
        },
        "accepteeId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "accepteeId"
          }
        },
        "eulaAcceptanceId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "eulaAcceptanceId"
          }
        },
        "eulaId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "eulaId"
          }
        }
      }
    },
    "com.amazonaws.madstudio#EulaAcceptanceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.madstudio#EulaAcceptance"
      }
    },
    "com.amazonaws.madstudio#EulaIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.madstudio#__string"
      }
    },
    "com.amazonaws.madstudio#EulaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.madstudio#Eula"
      }
    },
    "com.amazonaws.madstudio#ExceptionContext": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.madstudio#__string"
      },
      "value": {
        "target": "com.amazonaws.madstudio#__string"
      }
    },
    "com.amazonaws.madstudio#GetEula": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#GetEulaRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#GetEulaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/eulas/{eulaId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#GetEulaRequest": {
      "type": "structure",
      "members": {
        "eulaId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetEulaResponse": {
      "type": "structure",
      "members": {
        "eula": {
          "target": "com.amazonaws.madstudio#Eula",
          "traits": {
            "smithy.api#jsonName": "eula"
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetLaunchProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#GetLaunchProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#GetLaunchProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#GetLaunchProfileInitialization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#GetLaunchProfileInitializationRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#GetLaunchProfileInitializationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/init",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#GetLaunchProfileInitializationRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "platform",
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetLaunchProfileInitializationResponse": {
      "type": "structure",
      "members": {
        "launchProfileInitialization": {
          "target": "com.amazonaws.madstudio#LaunchProfileInitialization",
          "traits": {
            "smithy.api#jsonName": "launchProfileInitialization"
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetLaunchProfileMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#GetLaunchProfileMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#GetLaunchProfileMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#GetLaunchProfileMemberRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "principalId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetLaunchProfileMemberResponse": {
      "type": "structure",
      "members": {
        "member": {
          "target": "com.amazonaws.madstudio#LaunchProfileMembership",
          "traits": {
            "smithy.api#jsonName": "member"
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetLaunchProfileRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetLaunchProfileResponse": {
      "type": "structure",
      "members": {
        "launchProfile": {
          "target": "com.amazonaws.madstudio#LaunchProfile",
          "traits": {
            "smithy.api#jsonName": "launchProfile"
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetStreamingImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#GetStreamingImageRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#GetStreamingImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#GetStreamingImageRequest": {
      "type": "structure",
      "members": {
        "streamingImageId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetStreamingImageResponse": {
      "type": "structure",
      "members": {
        "streamingImage": {
          "target": "com.amazonaws.madstudio#StreamingImage",
          "traits": {
            "smithy.api#jsonName": "streamingImage"
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetStreamingSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#GetStreamingSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#GetStreamingSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#GetStreamingSessionRequest": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetStreamingSessionResponse": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.amazonaws.madstudio#StreamingSession",
          "traits": {
            "smithy.api#jsonName": "session"
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetStudio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#GetStudioRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#GetStudioResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#GetStudioComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#GetStudioComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#GetStudioComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#GetStudioComponentRequest": {
      "type": "structure",
      "members": {
        "studioComponentId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetStudioComponentResponse": {
      "type": "structure",
      "members": {
        "studioComponent": {
          "target": "com.amazonaws.madstudio#StudioComponent",
          "traits": {
            "smithy.api#jsonName": "studioComponent"
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetStudioMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#GetStudioMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#GetStudioMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/membership/{principalId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#GetStudioMemberRequest": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetStudioMemberResponse": {
      "type": "structure",
      "members": {
        "member": {
          "target": "com.amazonaws.madstudio#StudioMembership",
          "traits": {
            "smithy.api#jsonName": "member"
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetStudioRequest": {
      "type": "structure",
      "members": {
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#GetStudioResponse": {
      "type": "structure",
      "members": {
        "studio": {
          "target": "com.amazonaws.madstudio#Studio",
          "traits": {
            "smithy.api#jsonName": "studio"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ImageId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^ami-[0-9A-z]+$"
      }
    },
    "com.amazonaws.madstudio#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "code"
          }
        },
        "context": {
          "target": "com.amazonaws.madstudio#ExceptionContext",
          "traits": {
            "smithy.api#jsonName": "context"
          }
        },
        "message": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.madstudio#LaunchProfile": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "com.amazonaws.madstudio#Timestamp",
          "traits": {
            "smithy.api#jsonName": "createdAt"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "createdBy"
          }
        },
        "description": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "description"
          }
        },
        "launchProfileId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "launchProfileId"
          }
        },
        "name": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "state": {
          "target": "com.amazonaws.madstudio#LaunchProfileState",
          "traits": {
            "smithy.api#jsonName": "state"
          }
        },
        "statusCode": {
          "target": "com.amazonaws.madstudio#LaunchProfileStatusCode",
          "traits": {
            "smithy.api#jsonName": "statusCode"
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "statusMessage"
          }
        },
        "streamConfiguration": {
          "target": "com.amazonaws.madstudio#StreamConfiguration",
          "traits": {
            "smithy.api#jsonName": "streamConfiguration"
          }
        },
        "studioComponentIds": {
          "target": "com.amazonaws.madstudio#LaunchProfileStudioComponentIdList",
          "traits": {
            "smithy.api#jsonName": "studioComponentIds"
          }
        },
        "tags": {
          "target": "com.amazonaws.madstudio#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.madstudio#Timestamp",
          "traits": {
            "smithy.api#jsonName": "updatedAt"
          }
        },
        "updatedBy": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "updatedBy"
          }
        }
      }
    },
    "com.amazonaws.madstudio#LaunchProfileInitialization": {
      "type": "structure",
      "members": {
        "activeDirectory": {
          "target": "com.amazonaws.madstudio#LaunchProfileInitializationActiveDirectory",
          "traits": {
            "smithy.api#jsonName": "activeDirectory"
          }
        },
        "ec2SecurityGroupIds": {
          "target": "com.amazonaws.madstudio#LaunchProfileSecurityGroupIdList",
          "traits": {
            "smithy.api#jsonName": "ec2SecurityGroupIds"
          }
        },
        "launchProfileId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "launchProfileId"
          }
        },
        "name": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "platform": {
          "target": "com.amazonaws.madstudio#LaunchProfilePlatform",
          "traits": {
            "smithy.api#jsonName": "platform"
          }
        },
        "studioComponents": {
          "target": "com.amazonaws.madstudio#LaunchProfileInitializationStudioComponentList",
          "traits": {
            "smithy.api#jsonName": "studioComponents"
          }
        }
      }
    },
    "com.amazonaws.madstudio#LaunchProfileInitializationActiveDirectory": {
      "type": "structure",
      "members": {
        "computerAttributes": {
          "target": "com.amazonaws.madstudio#ActiveDirectoryComputerAttributeList",
          "traits": {
            "smithy.api#jsonName": "computerAttributes"
          }
        },
        "directoryId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "directoryId"
          }
        },
        "directoryName": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "directoryName"
          }
        },
        "dnsIpAddresses": {
          "target": "com.amazonaws.madstudio#ActiveDirectoryDnsIpAddressList",
          "traits": {
            "smithy.api#jsonName": "dnsIpAddresses"
          }
        },
        "name": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "organizationalUnitDistinguishedName": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "organizationalUnitDistinguishedName"
          }
        },
        "studioComponentId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "studioComponentId"
          }
        }
      }
    },
    "com.amazonaws.madstudio#LaunchProfileInitializationStudioComponent": {
      "type": "structure",
      "members": {
        "initializationScript": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "initializationScript"
          }
        },
        "name": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "name"
          }
        },
        "studioComponentId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "studioComponentId"
          }
        },
        "type": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "type"
          }
        }
      }
    },
    "com.amazonaws.madstudio#LaunchProfileInitializationStudioComponentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.madstudio#LaunchProfileInitializationStudioComponent"
      }
    },
    "com.amazonaws.madstudio#LaunchProfileList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.madstudio#LaunchProfile"
      }
    },
    "com.amazonaws.madstudio#LaunchProfileMembership": {
      "type": "structure",
      "members": {
        "persona": {
          "target": "com.amazonaws.madstudio#LaunchProfilePersona",
          "traits": {
            "smithy.api#jsonName": "persona"
          }
        },
        "principalId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "principalId"
          }
        }
      }
    },
    "com.amazonaws.madstudio#LaunchProfileMembershipList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.madstudio#LaunchProfileMembership"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.madstudio#LaunchProfilePersona": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "USER",
            "name": "USER"
          }
        ]
      }
    },
    "com.amazonaws.madstudio#LaunchProfilePlatform": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LINUX",
            "name": "LINUX"
          },
          {
            "value": "WINDOWS",
            "name": "WINDOWS"
          },
          {
            "value": "linux",
            "name": "linux"
          },
          {
            "value": "windows",
            "name": "windows"
          }
        ]
      }
    },
    "com.amazonaws.madstudio#LaunchProfileSecurityGroupIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.madstudio#SecurityGroupId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.madstudio#LaunchProfileState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "READY",
            "name": "READY"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          }
        ]
      }
    },
    "com.amazonaws.madstudio#LaunchProfileStatusCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING_LAUNCH_PROFILE",
            "name": "CREATING_LAUNCH_PROFILE"
          },
          {
            "value": "UPDATING_LAUNCH_PROFILE",
            "name": "UPDATING_LAUNCH_PROFILE"
          },
          {
            "value": "LAUNCH_PROFILE_READY",
            "name": "LAUNCH_PROFILE_READY"
          },
          {
            "value": "DELETING_LAUNCH_PROFILE",
            "name": "DELETING_LAUNCH_PROFILE"
          },
          {
            "value": "DELETING_LAUNCH_PROFILE_MEMBERSHIP",
            "name": "DELETING_LAUNCH_PROFILE_MEMBERSHIP"
          },
          {
            "value": "LAUNCH_PROFILE_DELETED",
            "name": "LAUNCH_PROFILE_DELETED"
          },
          {
            "value": "INTERNAL_ERROR",
            "name": "INTERNAL_ERROR"
          },
          {
            "value": "MAD_STREAM_LOGICAL_IMAGE_NOT_FOUND",
            "name": "MAD_STREAM_LOGICAL_IMAGE_NOT_FOUND"
          },
          {
            "value": "MAD_STREAM_LOGICAL_IMAGE_NOT_READY",
            "name": "MAD_STREAM_LOGICAL_IMAGE_NOT_READY"
          },
          {
            "value": "MAD_STREAM_ACTIVE_SESSSIONS",
            "name": "MAD_STREAM_ACTIVE_SESSSIONS"
          },
          {
            "value": "MAD_STREAM_TERMINAL_STATE",
            "name": "MAD_STREAM_TERMINAL_STATE"
          }
        ]
      }
    },
    "com.amazonaws.madstudio#LaunchProfileStudioComponentIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.madstudio#__string"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.madstudio#LicenseServiceConfiguration": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "endpoint"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListEulaAcceptances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#ListEulaAcceptancesRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#ListEulaAcceptancesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/eula-acceptances",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#ListEulaAcceptancesRequest": {
      "type": "structure",
      "members": {
        "eulaId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "eulaId"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.madstudio#MaxResults",
          "traits": {
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListEulaAcceptancesResponse": {
      "type": "structure",
      "members": {
        "eulaAcceptances": {
          "target": "com.amazonaws.madstudio#EulaAcceptanceList",
          "traits": {
            "smithy.api#jsonName": "eulaAcceptances"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListEulas": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#ListEulasRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#ListEulasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/eulas",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#ListEulasRequest": {
      "type": "structure",
      "members": {
        "eulaIds": {
          "target": "com.amazonaws.madstudio#multiValueQueryStringList",
          "traits": {
            "smithy.api#httpQuery": "eulaIds"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.madstudio#MaxResults",
          "traits": {
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListEulasResponse": {
      "type": "structure",
      "members": {
        "eulas": {
          "target": "com.amazonaws.madstudio#EulaList",
          "traits": {
            "smithy.api#jsonName": "eulas"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListLaunchProfileMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#ListLaunchProfileMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#ListLaunchProfileMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#ListLaunchProfileMembersRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.madstudio#MaxResults",
          "traits": {
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListLaunchProfileMembersResponse": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.amazonaws.madstudio#LaunchProfileMembershipList",
          "traits": {
            "smithy.api#jsonName": "members"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListLaunchProfiles": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#ListLaunchProfilesRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#ListLaunchProfilesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#ListLaunchProfilesRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.madstudio#MaxResults",
          "traits": {
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "principalId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "principalId"
          }
        },
        "state": {
          "target": "com.amazonaws.madstudio#multiValueQueryStringList",
          "traits": {
            "smithy.api#httpQuery": "state"
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListLaunchProfilesResponse": {
      "type": "structure",
      "members": {
        "launchProfiles": {
          "target": "com.amazonaws.madstudio#LaunchProfileList",
          "traits": {
            "smithy.api#jsonName": "launchProfiles"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListRegions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#ListRegionsRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#ListRegionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/regions",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#ListRegionsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListRegionsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "nextToken"
          }
        },
        "regions": {
          "target": "com.amazonaws.madstudio#RegionList",
          "traits": {
            "smithy.api#jsonName": "regions"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStreamingImages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#ListStreamingImagesRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#ListStreamingImagesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/streaming-images",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#ListStreamingImagesRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.madstudio#MaxResults",
          "traits": {
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "owner": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "owner"
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStreamingImagesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "nextToken"
          }
        },
        "streamingImages": {
          "target": "com.amazonaws.madstudio#StreamingImageList",
          "traits": {
            "smithy.api#jsonName": "streamingImages"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStreamingSessionStreams": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#ListStreamingSessionStreamsRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#ListStreamingSessionStreamsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#ListStreamingSessionStreamsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.madstudio#MaxResults",
          "traits": {
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "sessionId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStreamingSessionStreamsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "nextToken"
          }
        },
        "streams": {
          "target": "com.amazonaws.madstudio#StreamingSessionStreamList",
          "traits": {
            "smithy.api#jsonName": "streams"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStreamingSessions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#ListStreamingSessionsRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#ListStreamingSessionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#ListStreamingSessionsRequest": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "createdBy"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.madstudio#MaxResults",
          "traits": {
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "sessionIds": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "sessionIds"
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStreamingSessionsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "nextToken"
          }
        },
        "sessions": {
          "target": "com.amazonaws.madstudio#StreamingSessionList",
          "traits": {
            "smithy.api#jsonName": "sessions"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStudioComponents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#ListStudioComponentsRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#ListStudioComponentsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/studio-components",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#ListStudioComponentsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.madstudio#MaxResults",
          "traits": {
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "state": {
          "target": "com.amazonaws.madstudio#multiValueQueryStringList",
          "traits": {
            "smithy.api#httpQuery": "state"
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.madstudio#multiValueQueryStringList",
          "traits": {
            "smithy.api#httpQuery": "type"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStudioComponentsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "nextToken"
          }
        },
        "studioComponents": {
          "target": "com.amazonaws.madstudio#StudioComponentList",
          "traits": {
            "smithy.api#jsonName": "studioComponents"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStudioMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#ListStudioMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#ListStudioMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/membership",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#ListStudioMembersRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.madstudio#MaxResults",
          "traits": {
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStudioMembersResponse": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.amazonaws.madstudio#StudioMembershipList",
          "traits": {
            "smithy.api#jsonName": "members"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStudioRegions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#ListStudioRegionsRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#ListStudioRegionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/regions",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#ListStudioRegionsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "studioId": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStudioRegionsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "nextToken"
          }
        },
        "studioRegions": {
          "target": "com.amazonaws.madstudio#StudioRegionList",
          "traits": {
            "smithy.api#jsonName": "studioRegions"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStudios": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#ListStudiosRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#ListStudiosResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#ListStudiosRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.madstudio#MaxResults",
          "traits": {
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListStudiosResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#jsonName": "nextToken"
          }
        },
        "studios": {
          "target": "com.amazonaws.madstudio#StudioList",
          "traits": {
            "smithy.api#jsonName": "studios"
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.madstudio#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.madstudio#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.madstudio#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.madstudio#ConflictException"
        },
        {
          "target": "com.amazonaws.madstudio#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.madstudio#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.madstudio#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.madstudio#ThrottlingException"
        },
        {
          "target": "com.amazonaws.madstudio#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/tags/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.madstudio#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.madstudio#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.madstudio#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.madstudio#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.madstudio#MadStudio": {
      "type": "service",
      "version": "2020-08-01",
      "operations": [
        {
          "target": "com.amazonaws.madstudio#AcceptEulas"
        },
        {
          "target": "com.amazonaws.madstudio#CreateLaunchProfile"
        },
        {
          "target": "com.amazonaws.madstudio#CreateStreamingImage"
        },
        {
[...]
