{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.hornnichtest#GetItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.hornnichtest#GetItemInput"
      },
      "output": {
        "target": "com.amazonaws.hornnichtest#GetItemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.hornnichtest#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/items/{itemId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.hornnichtest#GetItemInput": {
      "type": "structure",
      "members": {
        "itemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.hornnichtest#GetItemOutput": {
      "type": "structure",
      "members": {
        "itemId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.hornnichtest#HornnichTestService": {
      "type": "service",
      "version": "2018-05-10",
      "operations": [
        {
          "target": "com.amazonaws.hornnichtest#GetItem"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "HornnichTest",
          "endpointPrefix": "hornnichtestservice",
          "arnNamespace": "hornnichtestservice"
        },
        "aws.auth#sigv4": {
          "name": "hornnichtestservice"
        },
        "aws.endpoints#standardPartitionalEndpoints": {
          "endpointPatternType": "service_dnsSuffix",
          "partitionEndpointSpecialCases": {
            "aws": [
              {
                "region": "us-east-1",
                "endpoint": "https://d18lqfd88zfjfu.cloudfront.net"
              }
            ]
          }
        },
        "aws.protocols#restJson1": {},
        "smithy.api#title": "A beautiful and amazing HornnichTestService",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://d18lqfd88zfjfu.cloudfront.net",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-east-1"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://hornnichtestservice-fips.{PartitionResult#dualStackDnsSuffix}",
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "name": "sigv4",
                                          "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://hornnichtestservice-fips.{PartitionResult#dnsSuffix}",
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "name": "sigv4",
                                          "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://hornnichtestservice.{PartitionResult#dualStackDnsSuffix}",
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "name": "sigv4",
                                          "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://hornnichtestservice.{PartitionResult#dnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice-fips.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice-fips.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://d18lqfd88zfjfu.cloudfront.net"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice-fips.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice-fips.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice-fips.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice-fips.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-iso-east-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice-fips.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-iso-east-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isob-east-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice-fips.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isob-east-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eu-isoe-west-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice-fips.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eu-isoe-west-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isof-south-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice-fips.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isof-south-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eusc-de-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eusc-de-east-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice-fips.amazonaws.eu"
                }
              },
              "params": {
                "Region": "eusc-de-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eusc-de-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eusc-de-east-1"
                      }
                    ]
                  },
                  "url": "https://hornnichtestservice.amazonaws.eu"
                }
              },
              "params": {
                "Region": "eusc-de-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.hornnichtest#InvalidInputException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client"
      }
    }
  }
}